body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line height: 30px;
  margin: auto;
  background: url("images/bg3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

nav {
  position: static;
  /* border-bottom: 1px solid grey; */
}

.navbar-brand :only-child { 
  color: white;
  position: static;
  line-height: 5px;
  font-family: 'EB Garamond', serif;
  font-size: 40px;
  padding: 10px;
  margin-left: 54%;
  /* border-bottom: 1px solid grey; */
  background-color: transparent;
  
}

.nav-item { 
  margin-right: 5%;
}

.display-4, h1 {
  color: white;
}

/* about me section */
.jumbotron {
  color: blue;
  background-color: transparent;
}

#aboutMe{
  color: whitesmoke;
  /* opacity: 0.6; */
  background-color: black;
}

/* //profile page */

.work {
  font-family: 'Slabo 27px', serif;
  color: white;
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
  border: solid 1px black;
}

.btn{
  margin: 0 55px;
  text-align: center;
  background-image: url("./images/spaceback.jpg");
  background-color: transparent;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  color: white;
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}

.auth-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

/* //contact page */
#newBtn{
  margin: 0 auto;
  text-align: center;
  background-image: url("./images/spaceback.jpg");
  background-color: transparent;
}


footer {
  color: white;
  text-align: center;
  background-color: transparent;
  /* border-top: 4px solid green; */
  padding: 20px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
